// .burger
    

.burger__btn
    display: none
    flex-direction: column
    justify-content: space-between
    width: 18px
    height: 12px
    span
        width: 18px
        height: 1.5px
        background-color: #fff
        position: relative
        border-radius: 5px
        &:nth-child(1),
        &:nth-child(3)
            width: 13px
            
